@font-face {
  font-family: 'Gothic';
  src: url('apple-sd-gothic-neo-b.otf');
  font-weight: 600;
  font-style: Bold;
}
@font-face {
  font-family: 'Gothic';
  src: url('apple-sd-gothic-neo-l.otf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Gothic';
  src: url('apple-sd-gothic-neo-m.otf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gothic';
  src: url('apple-sd-gothic-neo-r.otf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Elice-B';
  src: url('elice-digital-baeum-b.otf');
  font-weight: 600;
  unicode-range: U+AC00-D7A3;
}
@font-face {
  font-family: 'Elice';
  src: url('elice-digital-baeum-r.otf');
  font-weight: 400;
  unicode-range: U+AC00-D7A3;
}
